body {
    font-family: 'Anta';font-size: 22px;
    background-image: linear-gradient(90deg,
            rgb(8, 8, 101),
            rgb(68, 68, 130),
            rgb(181, 181, 232),
            rgb(181, 181, 232),
            rgb(68, 68, 130),
            rgb(8, 8, 101));
    background-color: rgb(8, 8, 101);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    color: rgb(223, 245, 245);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10vh;
    margin-left: 5vw;
    z-index: 10;
}

#score {
    background-color: rgb(223, 245, 245);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 18vh;
    margin-left: 5vw;
    border: 1vmin solid rgb(2, 70, 70);
    z-index: 10;
}

p {
    text-align: center;
    color: rgb(3, 104, 104);
    padding: 8px;
}

#board {
    background-image: linear-gradient(45deg,
            rgb(101, 186, 107),
            rgb(83, 176, 89),
            rgb(70, 171, 77),
            rgb(46, 153, 53),
            rgb(44, 144, 51),
            rgb(28, 119, 34));
    width: min(100vmin, 100vw);
    height: min(100vmin, 100vh);
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    border: 1px solid darkred;
    overflow: hidden;
}

#btn {
    font-family:  'Anta';font-size: 22px;
    font-size: 64;
    text-align: center;
    z-index: 20;
    background-color: rgb(8, 8, 101);
    color: wheat;
    position: absolute;
    border: 1px solid wheat;
    border-radius: 10px;
    box-shadow: 10px 5px 5px wheat;
    padding: 20px;
}

#end {
    font-family:  'Anta';font-size: 22px;
    font-size: 64;
    text-align: center;
    z-index: 50;
    background-color: rgb(8, 8, 101);
    color: wheat;
    position: absolute;
    top: 45vh;
    left: 32vw;
    border: 1px solid wheat;
    border-radius: 10px;
    box-shadow: 10px 5px 5px wheat;
    padding: 20px;
}

.player {
    z-index: 10;
    background-image: linear-gradient(45deg,
            rgb(2, 250, 250),
            rgb(35, 171, 171),
            rgb(2, 250, 250),
            rgb(35, 171, 171),
            rgb(2, 250, 250),
            rgb(35, 171, 171));
    border: 2px solid rgb(2, 250, 250);
}

.food {
    background-color: darkred;
    border: 2px solid rgb(241, 4, 91);
    z-index: 10;
}

.points {
    background-color: rgb(199, 149, 23);
    border: 2px solid rgb(237, 187, 62);
    z-index: 10;
}

.obstacle {
    background-color: rgb(35, 119, 35);
    border: 2px solid rgb(45, 180, 45);
    z-index: 10;
}



