body {
    background-color: darkblue;
}

h1 {
    color: white;
}

#board {
    margin-top: 50px;
    margin-left: 150px;
    padding: 0;
    border: 5px solid white;
    height: 630px;
    width: 630px;
    position: relative;
}

#player {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: darkcyan;
    position: absolute;
}


.food {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: darkred;
    position: absolute;
}

