body {
    background-color: darkblue;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    color: white;
}

#board {
    width: 100vmin;
    height: 100vmin;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    background-color: white;
    border: 5px solid darkred;
}

#player {
    background-color: darkcyan;
    border: .2vmin solid black
}

.food {
    background-color: darkred;
    border: .2 solid black
}

